apriori-python         == 1.0.4
efficient-apriori      == 2.0.5
fpgrowth-py            == 1.0.0
pyarmviz               == 0.1.4
pandas                 == 2.2.2
ucimlrepo              == 0.0.7
scikit-learn           == 1.5.2
matplotlib
seaborn
trimap                 == 1.1.4
pacmap                 == 0.7.3
umap-learn             == 0.5.6
